/*--Main Image Preview--*/
#main {
	border: 1px solid #222;
}

.main_image {
	width: 598px; height: 300px;
	float: left;
	background: #333;
	position: relative;
	overflow: hidden;
	color: #fff;
	border-right: 1px solid #222;
}

.main_image .block_header {
	margin: 0px; padding: 20px;
	height: auto;
	font-size: 18px;
	font-weight: bold;
}
.main_image p {
	padding: 10px;	margin: 0;
	line-height: 1.6em;
}
.main_image .desc{
	position: absolute;
	bottom: 0;	left: 0;
	width: 100%;
	display: none;
}
.main_image .block{
	background: #000;
}
.main_image .item_date {
	font-size: 11px;
	font-weight: normal;
	color: #888;
}
.main_image .item_comment_count {
	font-size: 11px;
	font-weight: normal;
	color: #ed6770;
}

.image_thumb {
	float: left;
	width: 147px;
	color: #fff;
	overflow: hidden;
}
.image_thumb ul {
	margin: 0; padding: 0;
	list-style: none;
}
.image_thumb ul li{
	margin: 0; padding: 0;
	height: 99px;
	float: left;
	border-bottom: 1px solid #222;
	position: relative;
}
.image_thumb ul li img{
	max-width: none;
	max-height: 100%;
}
.image_thumb ul li.hover {
	background: #282828;
	cursor: pointer;
}
.image_thumb ul li.active {
	cursor: default;
}
.image_thumb ul li.hover .block, .image_thumb ul li.active .block {
	background-color: #e30000;
}

.image_thumb ul li .block {
	margin: 0;
	position: absolute;
	top: 75px;
	padding: 6px;
	background-color: #000;
	font-size: 11px;
	opacity: 0.75;
	width: 135px;
}	

.image_thumb ul li .block span {
	color: #666;
}