.casts_column {
	width: 198px;
	border: 1px solid #d6d6d6;
}
.casts_column_header {
	padding: 12px 15px;
	font-size: 13px;
	background-color: #fafafa;
	border-bottom: 1px solid #bcbcbc;
	font-weight: bold;
	font-family: "나눔고딕", "NanumGothic", "AppleGothic", sans-serif;
	color: #e91926;}

.casts_column_list {
	margin: 0px;
	padding: 0px;
}
.casts_column_entry {
	height: 40px;
	padding: 7px 16px;
}
.casts_column_entry:first-child {
	padding-top: 15px;
}
.casts_column_entry:last-child {
	padding-bottom: 15px;
}

.casts_entry_profile_image {
	float: left;
}
.casts_entry_profile_image img {
	width: 40px; height: 40px;
}

.casts_entry_info {
	float: left;
	padding: 5px 0px 0px 8px;
	color: #333;
	font-size: 11px;
}
.casts_entry_info a {
	text-decoration: none;
	color: #333;
}
.casts_entry_info span {
	font-size: 12px;
	font-weight: bold;
}
.casts_entry_info p {
	margin-top: 3px;
}

.cast_entry_icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #fff url(../img/icon_profilelink.jpg) 0px 0px no-repeat;
	text-indent: -9999px;
}
.cast_entry_icon.homepage {
	background: #fff url(../img/icon_profilelink.jpg) 0px -26px no-repeat;
}
.cast_entry_icon.blog {
	background: #fff url(../img/icon_profilelink.jpg) 0px -13px no-repeat;
}