@charset "utf-8";
/* Reset */
html,body{min-height:100%}
body{margin:0}

/* Skin to content */
.skip{margin:0}
.skip>a{display:block;text-align:center;line-height:28px;height:1px;overflow:hidden}
.skip>a:focus{height:auto}

/* Layout */
.container,
.footer>p{width:960px;margin:0 auto}
.header{position:relative;z-index:2;zoom:1;margin:0 0 17px 0}
.header>.side{position:absolute;z-index:2;right:0;bottom:57px;zoom:1;width:360px;height:70px;overflow:hidden;}
.header>.date{position:absolute;z-index:2;left:180px;bottom:0px;zoom:1;width:360px;margin-bottom:59px;overflow:hidden;font-weight:bold;}
.body{position:relative;z-index:1}
.header:after,
.body:after{content:"";display:block;clear:both}
.content{padding:0 0 40px 0;zoom:1}
.content>*:first-child{margin-top:0}
.content img{max-width:100%;height:auto}

/* Header */
.header>h1{display:inline-block;*display:inline;zoom:1;margin:0 0 18px 0;}
.header>h1>a,
.header>h1 img{display:block}
.header>h1>a{font-size:32px;text-decoration:none;color:#333}

/* Footer */
.footer{padding:25px 0 80px 0;background:#f8f8f8;border-top:1px solid #f4f4f4;color:#666}
.footer p{font-size:12px}
.footer a{text-decoration:none;color:#666}
.footer a:hover,
.footer a:focus{text-decoration:underline}

/* Login */
.account{margin-right:15px !important}

/* Search */
.header .search{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:0}
.header .search>input{font-size:12px;vertical-align:top;border-radius:2px}
.header .search>input[type="text"]{background:#e5e6e8;border:1px solid #dedede;height:21px;line-height:21px;padding:0 4px;margin:0 -6px 0 0;width:126px}
.header .search>input[type="submit"]{background:#484d51;border:1px solid #272b30;height:23px;line-height:23px;padding:0 15px;margin:0;cursor:pointer;box-shadow:0 1px 0 #6d7174 inset;color:#FFF;}

/* GNB */
.gnb{position:relative;z-index:1;border-top:1px solid #e45d5e;border-bottom:2px solid #e91926;font-size:16px;height:36px;clear:both;font-family: "나눔고딕", "NanumGothic", "AppleGothic", sans-serif;}
.gnb:before{content:"";display:block;width:100%;height:1px}
.gnb ul{margin:0;padding:0;list-style:none}
.gnb a{text-decoration:none;white-space:nowrap}
.gnb>ul{position:absolute;top:32px;left:-1px;right:-1px;height:0}
.gnb.open>ul{height:auto;border-bottom:1px solid #333}
.gnb>ul:after{content:"";display:block;clear:both}
.gnb>ul>li{position:relative;top:-32px;float:left;margin:0 -1px -8px 0}
.gnb>ul>li>a{display:block;line-height:12px;margin:12px 0;padding:0 20px;position:relative;color:#000;font-weight:bold;border-right:1px solid #eee;}
.gnb>ul>li:last-child>a {border-right:none;}
.gnb>ul>li>a:after{content:"";position:absolute;width:1px;height:100%;right:0;top:0;overflow:hidden}
.gnb>ul>li.active>a,
.gnb>ul>li.hover>a{line-height:35px;margin:0;padding-bottom:1px;background-color:#e91926;color:#FFF;}
.gnb ul ul{display:block;position:relative;z-index:2;padding:0 20px;margin:0 0 0 -1px;border-left:1px solid #424856;height:0;overflow:hidden}
.gnb.open ul ul{margin-top:6px}
.gnb ul ul:before{content:"";position:absolute;left:0;top:0;width:1px;height:100%;background:#4b5265}
.gnb.open ul ul{padding:13px 20px;height:auto}
.gnb>ul>li:first-child>ul{border:0}
.gnb>ul>li:first-child>ul:before{content:normal}
.gnb ul ul a{display:block;line-height:20px;font-size:12px;color:#fff}
.gnb ul ul a:hover,
.gnb ul ul a:focus{text-decoration:underline}

/* RNB */
.body.sub .content{float:left;width:720px}
.body.sub .rnb{float:right;width:200px;margin:0 0 40px 10px}
.rnb .sisatong_imagebox {margin-bottom: 30px;}

/* CUSTOM STYLES */
/* HELPER */
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.hidden{display:none !important;visibility:hidden !important;}

/* BODY */
body {font-family: "돋움", dotum, Tahoma, Geneva; sans-serif}

/* GNB */
.account{float: right; margin-top: 4px !important;}
.account .info .user {color: #888}
.header .search{float: right; margin-top: 5px;margin-right: 5px;}