<load target="default.layout.css" />
<load target="default.layout.ie78.css" targetie="lt IE 9" />
<load target="default.layout.ie7.css" targetie="IE 7" />
<load target="default.layout.webfont.css" cond="$layout_info->WEB_FONT == 'YES'" />
<load target="../../common/js/respond.min.js" targetie="lt IE 9" />
<load target="default.layout.js" type="body" />
<div class="container">
	<header class="header">
		<h1>
			<a href="{geturl('')}" id="siteTitle">
				<img src="siteTitle.png" alt="XpressEngine" cond="!Context::getSiteTitle() && !$layout_info->LOGO_IMG && !$layout_info->LOGO_TEXT">
				<block cond="Context::getSiteTitle() && !$layout_info->LOGO_IMG && !$layout_info->LOGO_TEXT">{Context::getSiteTitle()}</block>
				<img src="{$layout_info->LOGO_IMG}" alt="{$layout_info->LOGO_TEXT}" cond="$layout_info->LOGO_IMG">
				<block cond="!$layout_info->LOGO_IMG && $layout_info->LOGO_TEXT">{$layout_info->LOGO_TEXT}</block>
			</a>
		</h1>

		<div class="date">
			{@ $n_date = date('Y년 m월 d일') }
			{$n_date}
		</div>

		<div class="side">
			<!-- UPPER BANNER -->
			<a href="{$layout_info->BANNER_LINK_URL}" target="_blank"><img src="{$layout_info->BANNER_IMAGE_SRC}"></a>
		</div>
		<!-- GNB -->
		<nav class="gnb" id="gnb">
			<ul>
				<li loop="$GNB->list=>$key1,$val1" class="active"|cond="$val1['selected']">
					<block cond="$val1['url'] && $val1['url'] =='{$layout_info->RECENT_ARTICLE_MID}'">{@
					$oModule = &getModel('module');
					$moduleSrl= $oModule->getModuleSrlByMid($val1['url']); 
					$args->module_srl = $moduleSrl;
					$args->list_count = 1;
					$args->order_type = 'asc';
					$output = executeQuery('document.getDocumentList', $args);
					$val1['href'] = $val1['href'].'/'.$output->data[$output->total_count]->document_srl;
					}</block>
					<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
					<ul cond="$val1['list']">
						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
							<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
						</li>
					</ul>
				</li>
			</ul>
			
			<!-- SEARCH -->
			<form action="{getUrl()}" method="get" class="search">
				<input type="hidden" name="vid" value="{$vid}" />
				<input type="hidden" name="mid" value="{$mid}" />
				<input type="hidden" name="act" value="IS" />
				<input type="text" name="is_keyword" value="{$is_keyword}" required placeholder="{$lang->cmd_search}" title="{$lang->cmd_search}" />
				<input type="submit" value="{$lang->cmd_search}" />
			</form>

			<img widget="login_info" skin="default" />
		</nav>
		<!-- /GNB -->
	</header>
	<!-- /VISUAL -->
	<div class="body main">
		<!-- CONTENT -->
		<div class="content" id="content">
			{$content}
		</div>
		<!-- /CONTENT -->
	</div>
</div>
<footer class="footer">
	<p cond="!$layout_info->FOOTER">Powered by <a href="http://xpressengine.com/">XE</a>.</p>
	<p cond="$layout_info->FOOTER">{$layout_info->FOOTER}</p>
</footer>